.login {
  width: 80%; /* Adjusted for mobile responsiveness */
  max-width: 400px; /* Maximum width */
  margin: auto; /* Center horizontally */
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  margin-top: 30px;
  padding: 1rem;
  text-align: center;
}

.login > form input {
  border-radius: 20px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 2% 0;
  width: 90%;
  padding: 12px;
  font-size: 16px;
}
