/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 209, 209);
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  padding-bottom: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navtop {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  padding-top: 0px;
  margin-right: 2px;
}
.navtop ul {
  list-style-type: none;
  margin-right: 10px;
  margin: 0 0 0;
  display: flex;
  justify-content: right;
  float: right;
}
.navtop app {
  list-style-type: none;
  margin-left: 10px;
  list-style-type: none;
  margin-right: 10px;
  margin: 0 0 0;
  padding: 1px;
  display: flex;
  justify-content: center;
  float: left;
}

.icon-large {
  font-size: 1.35em; /* Adjust the size as needed */
}
.icon-superlarge {
  font-size: 3em; /* Adjust the size as needed */
  color: #e93c3c;
}

.navtop li {
  margin: 0 0px;
  text-align: center;
  justify-content: center;
}

.navtop a {
  color: white;
  text-decoration: none;
}

.navtop a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 60px; /* Height of the navbar */
}
/* Example CSS for navigation */
nav {
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  padding: 5px;
  text-align: center;
}

nav ul li:hover {
}

nav ul li svg {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
